#root {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

div{
  text-align: center;
  margin: 20px;
  padding: 1px;
}

.active{
  color: red;
}
.main-link{
  margin: 10px;
}
table, tr, td, th{
  margin:  auto;
  text-align: center;
  width: 100px;
  height: 30px;
}
.logout {
  position: fixed;
  top: 10px; /* רמת המרחק מלמעלה שבה הכפתור יופיע */
  right: 20px; /* רמת המרחק מימין שבה הכפתור יופיע */}